* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    
    background-color:rgb(187, 221, 187) ;
    min-width: 100vw;
    min-height:100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.topbox{
  

    height:554px;
    width: 1920px;
    box-shadow: 8px 5px 50px 10px;
    border-bottom: 10px; 
    border-style: groove;
    border-color:rgb(187, 221, 187) ;
    
    
}


.logo{

    background-image: url(./Plaatjes/food-and-grocery-delivery-logo-icon-design-te-template-1e169c70e967dd973501811514079490_screen.jpg);
    max-width: 656px;
    overflow: hidden;
    background-blend-mode:overlay;
    background-repeat: no-repeat;
    background-color:rgba(190, 168, 94, 0.747);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 550px;
    
    
}

.buttonbox{
    
    width:300px;
    position: relative;
    bottom:35px;
    display: flex;
    justify-content: space-evenly;
    background-color:orange;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px;
    border-style: groove;
    border-color: rgb(250, 204, 119);
    
}

.button:hover{
    
    opacity: 0.85;
    border-style: inset;

}



.button{
    
    border-radius: 10px;
    border-style:outset;
    border-color:rgb(180, 131, 38);
    background-color: rgba(128, 98, 0, 0.548);
    height: 30px;
    width: 75px;
    padding: 6px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(49, 24, 6);
    font-weight: 500;
    font-size: small;
    
}

.main{
    
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: black;
    
}

h3{
    
    background-color: blue;
    height: 50px;
    width: 500px;

}

.searchbar{
    
    width: 500px;
    height:75px;
    background-color: aquamarine;

}

.grid{



}